@model LoginModel
@{
    ViewData["Title"] = "Login";
}

@section Scripts {
    <script src="~/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
<div class="container mt-5"  >
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <h1 class="text-center mb-4">Login</h1>
            <hr />

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }

            <form asp-controller="Account" asp-action="Login" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" id="inputEmail" name="Email" value="@Model.Email" class="form-control" placeholder="Enter your email" required autofocus>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" name="Password" value="@Model.Password" class="form-control" placeholder="Enter your password" required>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-danger btn-block">Login</button>
                </div>
            </form>

            <div class="text-center mt-3">
                <a href="#" class="text-primary">Forgot password?</a>
            </div>

            <div class="text-center mt-3">
                Don't have an account? <a asp-controller="Account" asp-action="Register" class="text-primary">Sign up</a>
            </div>

        </div>
    </div>
</div>

